* {
  font-family : 'Josefin Sans', sans-serif;
 }  
 

 site-heading {
 }

.post-title,
 .post-subtitle,
 .post-content-preview, 
 .post-content-preview {
font-family: 'Josefin Sans', sans-serif;
}

.post-content-preview {

}

/* This is the meta data about the post such as date info */
.post-meta {
  color: red;
  font-size: 6rem;

}


.post-title {
  font-family: 'Francois One', sans-serif;
  font-style: bold;
  font-weight: 700;
;
}