* {
  font-family : 'Josefin Sans', sans-serif;
 }  
 

 site-heading {
   color:red;
 }

.post-title,
 .post-subtitle,
 .post-content-preview, 
 .post-content-preview {
font-family: 'Josefin Sans', sans-serif;

}

.post-content-preview {

}

.post-meta {

}

.post-title {
  font-family: 'Raleway', sans-serif;
}