<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<style>
* {
  font-family: 'Josefin Sans', sans-serif;
 

}   

.post-title,
 .post-subtitle,
 .post-content-preview, 
 .post-content-preview {
font-family: 'Josefin Sans', sans-serif;

}

.post-content-preview {

}

.post-meta {

}
</style>

{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<!-- Page Header -->
{{ block "header" .}}
<header class="intro-header" style="background-image: url('{{ .Site.Params.header_image | relURL }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{{ .Title }} </h1>
                    <!--<hr class="small">-->
		    <span class="subheading">{{ .Site.Params.slogan }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ block "main" . }}
{{ end }}

{{ partial "footer.html" . }}
</body>
</html>
